body {
	background-color: #e5edf9;
	font-family: 'Abel';
	flex-wrap: wrap;
}

#goalHead {
	display: block;
	background-color: #68b8d8;
	padding:30px;
	text-align: center;
}

#myDIV.header{
	display: block;
	padding: 30px;
	text-align: center;
	border: 5px;
	border-color: #686362;
}

#myUL{
	display: block;
	background-color: #ffd7c9;
	pading-top: 7px;
	outline-color: #686362;
	font-size: 20px;
} 

span.close {
	float: right;
	display: block;
	background-color: #99587f;
	padding-left: 6px;
	padding-right: 6px;
}
